In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from datetime import datetime

In [115]:
target_date_format = "%Y-%m-%d"

In [18]:
# source Texas DSHS
new_cases_travis = pd.read_csv(r"Texas_County_Cases_per_Day_data.csv")

In [128]:
new_cases_travis = new_cases_travis.dropna()

In [136]:
for i in range(len(new_cases_travis)):
    new_cases_travis.loc[i]["Date"] = datetime.strptime

2020-10-16 00:00:00
2020-10-15 00:00:00
2020-10-14 00:00:00
2020-10-13 00:00:00
2020-10-12 00:00:00
2020-10-11 00:00:00
2020-10-10 00:00:00
2020-10-09 00:00:00
2020-10-08 00:00:00
2020-10-07 00:00:00
2020-10-06 00:00:00
2020-10-05 00:00:00
2020-10-04 00:00:00
2020-10-03 00:00:00
2020-10-02 00:00:00
2020-10-01 00:00:00
2020-09-30 00:00:00
2020-09-29 00:00:00
2020-09-28 00:00:00
2020-09-27 00:00:00
2020-09-26 00:00:00
2020-09-25 00:00:00
2020-09-24 00:00:00
2020-09-23 00:00:00
2020-09-22 00:00:00
2020-09-21 00:00:00
2020-09-20 00:00:00
2020-09-19 00:00:00
2020-09-18 00:00:00
2020-09-17 00:00:00
2020-09-16 00:00:00
2020-09-15 00:00:00
2020-09-14 00:00:00
2020-09-13 00:00:00
2020-09-12 00:00:00
2020-09-11 00:00:00
2020-09-10 00:00:00
2020-09-09 00:00:00
2020-09-08 00:00:00
2020-09-07 00:00:00
2020-09-06 00:00:00
2020-09-05 00:00:00
2020-09-04 00:00:00
2020-09-03 00:00:00
2020-09-02 00:00:00
2020-09-01 00:00:00
2020-08-31 00:00:00
2020-08-30 00:00:00
2020-08-29 00:00:00
2020-08-28 00:00:00
2020-08-27 00:00:00
2020-08-26 00:00:00
2020-08-25 00:00:00
2020-08-24 00:00:00
2020-08-23 00:00:00
2020-08-22 00:00:00
2020-08-21 00:00:00
2020-08-20 00:00:00
2020-08-19 00:00:00
2020-08-18 00:00:00
2020-08-17 00:00:00
2020-08-16 00:00:00
2020-08-15 00:00:00
2020-08-14 00:00:00
2020-08-13 00:00:00
2020-08-12 00:00:00
2020-08-11 00:00:00
2020-08-10 00:00:00
2020-08-09 00:00:00
2020-08-08 00:00:00
2020-08-07 00:00:00
2020-08-06 00:00:00
2020-08-05 00:00:00
2020-08-04 00:00:00
2020-08-03 00:00:00
2020-08-02 00:00:00
2020-08-01 00:00:00
2020-07-31 00:00:00
2020-07-30 00:00:00
2020-07-29 00:00:00
2020-07-28 00:00:00
2020-07-27 00:00:00
2020-07-26 00:00:00
2020-07-25 00:00:00
2020-07-24 00:00:00
2020-07-23 00:00:00
2020-07-22 00:00:00
2020-07-21 00:00:00
2020-07-20 00:00:00
2020-07-19 00:00:00
2020-07-18 00:00:00
2020-07-17 00:00:00
2020-07-16 00:00:00
2020-07-15 00:00:00
2020-07-14 00:00:00
2020-07-13 00:00:00
2020-07-12 00:00:00
2020-07-11 00:00:00
2020-07-10 00:00:00
2020-07-09 00:00:00
2020-07-08 00:00:00
2020-07-07 00:00:00
2020-07-06 00:00:00
2020-07-05 00:00:00
2020-07-04 00:00:00
2020-07-03 00:00:00
2020-07-02 00:00:00
2020-07-01 00:00:00
2020-06-30 00:00:00
2020-06-29 00:00:00
2020-06-28 00:00:00
2020-06-27 00:00:00
2020-06-26 00:00:00
2020-06-25 00:00:00
2020-06-24 00:00:00
2020-06-23 00:00:00
2020-06-22 00:00:00
2020-06-21 00:00:00
2020-06-20 00:00:00
2020-06-19 00:00:00
2020-06-18 00:00:00
2020-06-17 00:00:00
2020-06-16 00:00:00
2020-06-15 00:00:00
2020-06-14 00:00:00
2020-06-13 00:00:00
2020-06-12 00:00:00
2020-06-11 00:00:00
2020-06-10 00:00:00
2020-06-09 00:00:00
2020-06-08 00:00:00
2020-06-07 00:00:00
2020-06-06 00:00:00
2020-06-05 00:00:00
2020-06-04 00:00:00
2020-06-03 00:00:00
2020-06-02 00:00:00
2020-06-01 00:00:00
2020-05-31 00:00:00
2020-05-30 00:00:00
2020-05-29 00:00:00
2020-05-28 00:00:00
2020-05-27 00:00:00
2020-05-26 00:00:00
2020-05-25 00:00:00
2020-05-24 00:00:00
2020-05-23 00:00:00
2020-05-22 00:00:00
2020-05-21 00:00:00
2020-05-20 00:00:00
2020-05-19 00:00:00
2020-05-18 00:00:00
2020-05-17 00:00:00
2020-05-16 00:00:00
2020-05-15 00:00:00
2020-05-14 00:00:00
2020-05-13 00:00:00
2020-05-12 00:00:00
2020-05-11 00:00:00
2020-05-10 00:00:00
2020-05-09 00:00:00
2020-05-08 00:00:00
2020-05-07 00:00:00
2020-05-06 00:00:00
2020-05-05 00:00:00
2020-05-04 00:00:00
2020-05-03 00:00:00
2020-05-02 00:00:00
2020-05-01 00:00:00
2020-04-30 00:00:00
2020-04-29 00:00:00
2020-04-28 00:00:00
2020-04-27 00:00:00
2020-04-26 00:00:00
2020-04-25 00:00:00
2020-04-24 00:00:00
2020-04-23 00:00:00
2020-04-22 00:00:00
2020-04-21 00:00:00
2020-04-20 00:00:00
2020-04-19 00:00:00
2020-04-18 00:00:00
2020-04-17 00:00:00
2020-04-16 00:00:00
2020-04-15 00:00:00
2020-04-14 00:00:00
2020-04-13 00:00:00
2020-04-12 00:00:00
2020-04-11 00:00:00
2020-04-10 00:00:00
2020-04-09 00:00:00
2020-04-08 00:00:00
2020-04-07 00:00:00
2020-04-06 00:00:00
2020-04-05 00:00:00
2020-04-04 00:00:00
2020-04-03 00:00:00
2020-04-02 00:00:00
2020-04-01 00:00:00
2020-03-31 00:00:00
2020-03-30 00:00:00
2020-03-29 00:00:00
2020-03-28 00:00:00
2020-03-27 00:00:00
2020-03-26 00:00:00
2020-03-25 00:00:00
2020-03-24 00:00:00
2020-03-23 00:00:00
2020-03-22 00:00:00
2020-03-21 00:00:00
2020-03-20 00:00:00
2020-03-19 00:00:00
2020-03-18 00:00:00
2020-03-17 00:00:00
2020-03-16 00:00:00
2020-03-15 00:00:00
2020-03-14 00:00:00
2020-03-13 00:00:00
2020-03-12 00:00:00
2020-03-11 00:00:00
2020-03-10 00:00:00
2020-03-09 00:00:00
2020-03-08 00:00:00
2020-03-07 00:00:00
2020-03-06 00:00:00
2020-03-05 00:00:00
2020-03-04 00:00:00

0      10/16/20
1      10/15/20
2      10/14/20
3      10/13/20
4      10/12/20
         ...
311         NaN
312         NaN
313         NaN
314         NaN
315         NaN
Name: Date, Length: 316, dtype: object

In [62]:
# Source OpenTable (yoy = Year over year)
yoy_texas_reservations_sideways = pd.read_csv("YoY_Seated_Diner_Data.csv")

In [63]:
yoy_texas_reservations_sideways.dropna()

,Date,18-Feb,19-Feb,20-Feb,21-Feb,22-Feb,23-Feb,24-Feb,25-Feb,26-Feb,...,6-Oct,7-Oct,8-Oct,9-Oct,10-Oct,11-Oct,12-Oct,13-Oct,14-Oct,15-Oct
0,YoY Percent,0.0,-6.0,0.0,2.0,1.0,-3.0,0.0,9.0,0.0,...,-40.87,-41.46,-32.26,-22.17,-7.88,-15.81,-37.19,-39.68,-39.02,-33.04

In [64]:
yoy_texas_reservations = pd.DataFrame(columns=["Date", "Percent"])

In [65]:
yoy_texas_reservations_sideways.drop("Date", axis=1)

,18-Feb,19-Feb,20-Feb,21-Feb,22-Feb,23-Feb,24-Feb,25-Feb,26-Feb,27-Feb,...,6-Oct,7-Oct,8-Oct,9-Oct,10-Oct,11-Oct,12-Oct,13-Oct,14-Oct,15-Oct
0,0.0,-6.0,0.0,2.0,1.0,-3.0,0.0,9.0,0.0,0.0,...,-40.87,-41.46,-32.26,-22.17,-7.88,-15.81,-37.19,-39.68,-39.02,-33.04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
for date in yoy_texas_reservations_sideways.columns:
    if date != "Date":
        temp = pd.Series([date, yoy_texas_reservations_sideways[date][0]], index = yoy_texas_reservations.columns)
        yoy_texas_reservations = yoy_texas_reservations.append(temp, ignore_index=True)

In [82]:
# Source: https://data.austintexas.gov/Public-Safety/Austin-Code-COVID-19-Complaint-Cases-Dashboard/5bvq-24pm
covid_complaints = pd.read_csv("Austin_Code_COVID-19_Complaint_Cases.csv")

In [86]:
covid_complaints = covid_complaints["OPENDATE"]

In [87]:
# TODO: COUNT THE NUMBER OF COMPLAINTS PER DAY
for complaint in covid_complaints:
    date_time = datetime.strptime(complaint[0], '%b %d %Y %I:%M%p')complaint[0]

0       10/04/2020 12:00:00 AM
1       05/30/2020 12:00:00 AM
2       03/19/2020 12:00:00 AM
3       04/10/2020 12:00:00 AM
4       03/29/2020 12:00:00 AM
                 ...
7375    08/26/2020 12:00:00 AM
7376    09/10/2020 12:00:00 AM
7377    08/01/2020 12:00:00 AM
7378    06/25/2020 12:00:00 AM
7379    03/26/2020 12:00:00 AM
Name: OPENDATE, Length: 7380, dtype: object

# The following data is all from YouGov (fear of covid, avoiding crowds, wearing masks, support quarantine)
## All data is from March 2 - October 12

In [108]:
covid_fear = pd.read_csv("covid-fear.csv")

               DateTime  USA
0   2020-03-02 23:51:40   34
1   2020-03-17 23:51:40   41
2   2020-03-23 23:51:40   52
3   2020-03-30 23:51:40   60
4   2020-04-06 23:51:40   60
5   2020-04-13 23:51:40   59
6   2020-04-20 23:51:40   60
7   2020-04-27 23:51:40   57
8   2020-05-26 23:51:40   55
9   2020-06-01 23:51:40   54
10  2020-06-08 23:51:40   50
11  2020-06-15 23:51:40   55
12  2020-06-22 23:51:40   55
13  2020-07-06 23:51:40   58
14  2020-07-14 23:51:40   58
15  2020-07-20 23:51:40   58
16  2020-07-27 23:51:40   58
17  2020-08-03 23:51:40   57
18  2020-08-07 23:51:40   48
19  2020-08-10 23:51:40   63
20  2020-08-17 23:51:40   59
21  2020-08-21 23:51:40   49
22  2020-08-25 23:51:40   59
23  2020-09-01 23:51:40   57
24  2020-09-08 23:51:40   55
25  2020-09-14 23:51:40   56
26  2020-09-18 23:51:40   46
27  2020-09-21 23:51:40   58
28  2020-09-28 23:51:40   55
29  2020-10-06 23:51:40   60
30  2020-10-12 23:51:40   57

In [109]:
support_quarantine = pd.read_csv("support-quarantine.csv")

               DateTime  USA
0   2020-03-02 23:51:40   58
1   2020-03-17 23:51:40   61
2   2020-03-23 23:51:40   64
3   2020-03-30 23:51:40   71
4   2020-04-06 23:51:40   69
5   2020-04-13 23:51:40   69
6   2020-04-20 23:51:40   66
7   2020-04-27 23:51:40   66
8   2020-05-06 23:51:40   62
9   2020-05-26 23:51:40   56
10  2020-06-01 23:51:40   56
11  2020-06-08 23:51:40   50
12  2020-06-15 23:51:40   56
13  2020-06-22 23:51:40   53
14  2020-07-06 23:51:40   54
15  2020-07-14 23:51:40   57
16  2020-07-20 23:51:40   50
17  2020-07-27 23:51:40   55
18  2020-08-03 23:51:40   52
19  2020-08-10 23:51:40   58
20  2020-08-17 23:51:40   56
21  2020-08-25 23:51:40   53
22  2020-09-01 23:51:40   52
23  2020-09-08 23:51:40   51
24  2020-09-14 23:51:40   55
25  2020-09-21 23:51:40   55
26  2020-09-28 23:51:40   54
27  2020-10-06 23:51:40   55
28  2020-10-12 23:51:40   56

In [110]:
wearing_masks = pd.read_csv("wearing-masks.csv")

               DateTime  USA
0   2020-03-02 23:51:40    7
1   2020-03-17 23:51:40    5
2   2020-03-23 23:51:40   11
3   2020-03-30 23:51:40   17
4   2020-04-06 23:51:40   29
5   2020-04-13 23:51:40   49
6   2020-04-20 23:51:40   58
7   2020-04-27 23:51:40   63
8   2020-05-26 23:51:40   68
9   2020-06-01 23:51:40   69
10  2020-06-08 23:51:40   66
11  2020-06-15 23:51:40   69
12  2020-06-22 23:51:40   71
13  2020-07-06 23:51:40   73
14  2020-07-14 23:51:40   78
15  2020-07-20 23:51:40   74
16  2020-07-27 23:51:40   77
17  2020-08-03 23:51:40   75
18  2020-08-10 23:51:40   81
19  2020-08-17 23:51:40   77
20  2020-08-25 23:51:40   77
21  2020-09-01 23:51:40   79
22  2020-09-08 23:51:40   75
23  2020-09-14 23:51:40   77
24  2020-09-21 23:51:40   76
25  2020-09-28 23:51:40   78
26  2020-10-06 23:51:40   77
27  2020-10-12 23:51:40   79

In [111]:
avoiding_crowds = pd.read_csv("avoid-crowds.csv")

               DateTime  USA
0   2020-03-02 23:51:40   24
1   2020-03-17 23:51:40   49
2   2020-03-23 23:51:40   65
3   2020-03-30 23:51:40   77
4   2020-04-06 23:51:40   72
5   2020-04-13 23:51:40   75
6   2020-04-20 23:51:40   73
7   2020-04-27 23:51:40   72
8   2020-05-26 23:51:40   65
9   2020-06-01 23:51:40   65
10  2020-06-08 23:51:40   60
11  2020-06-15 23:51:40   64
12  2020-06-22 23:51:40   63
13  2020-07-06 23:51:40   66
14  2020-07-14 23:51:40   69
15  2020-07-20 23:51:40   65
16  2020-07-27 23:51:40   65
17  2020-08-03 23:51:40   64
18  2020-08-10 23:51:40   70
19  2020-08-17 23:51:40   64
20  2020-08-25 23:51:40   62
21  2020-09-01 23:51:40   62
22  2020-09-08 23:51:40   64
23  2020-09-14 23:51:40   65
24  2020-09-21 23:51:40   63
25  2020-09-28 23:51:40   64
26  2020-10-06 23:51:40   65
27  2020-10-12 23:51:40   65

In [112]:
# From DSHS and Austin - Travis County COVID-19 Dashboard Public Datasets
hospital_data = pd.read_csv("hospital-data.csv")

,Date,% of hospital capacity for covid,# of hospitalisations,% of hospitalizations for covid,# ICU Beds for covid
0,2020-04-12,0.9%,22,2.1%,12
1,2020-04-13,1.2%,26,2.5%,15
2,2020-04-14,1.1%,28,2.4%,16
3,2020-04-15,1.3%,30,2.9%,17
4,2020-04-16,0.9%,22,2.3%,14
...,...,...,...,...,...
183,2020-10-12,2.2%,91,2.9%,32
184,2020-10-13,2.3%,96,3.1%,34
185,2020-10-14,2.4%,99,3.1%,34
186,2020-10-15,2.3%,99,3.1%,39
187,2020-10-16,2.3%,99,3.1%,38

In [113]:
# Case counts: Austin Travis County COVID19 Daily Counts (Public View)
total_cases = pd.read_csv("total-cases.csv")

        Last_Update  Total_Reported
0     3/13/20 17:00             0.0
1     3/14/20 20:24             0.0
2     3/15/20 20:23             0.0
3     3/16/20 17:00             0.0
4     3/17/20 17:00             0.0
..              ...             ...
212  10/11/20 22:00         31208.0
213  10/12/20 22:19         31341.0
214  10/13/20 22:52             NaN
215  10/14/20 17:31         31554.0
216  10/15/20 22:16         31650.0

[217 rows x 2 columns]

# Data so far: 
1. New cases, 
2. year on year % restaurant reservations, 
3. covid complaints(in-progress), 
4. % fearing covid , 
5. support for quaranting, 
6. % wearing masks, 
7. % avoiding crowds, 
8. % of total hospital capacity dedicated to covid, 
9. /# of hospitalisations for covid, 
10. % of hospitalisations for covid, 
11. /# of ICU beds for covid, 
12. /# cases

# Target Feature: Number of infections for covid (in 2.5 months)