In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from datetime import datetime

In [18]:
# source Texas DSHS
new_cases_travis = pd.read_csv(r"Texas_County_Cases_per_Day_data.csv")

In [19]:
new_cases_travis.dropna()

         Date  New Cases
0    10/16/20     5682.0
1    10/15/20     4615.0
2    10/14/20     4564.0
3    10/13/20     5050.0
4    10/12/20     2384.0
..        ...        ...
222    3/8/20        0.0
223    3/7/20        0.0
224    3/6/20        5.0
225    3/5/20        0.0
226    3/4/20        0.0

[227 rows x 2 columns]

In [62]:
# Source OpenTable
yoy_texas_reservations_sideways = pd.read_csv("YoY_Seated_Diner_Data.csv")

In [63]:
yoy_texas_reservations_sideways.dropna()

,Date,18-Feb,19-Feb,20-Feb,21-Feb,22-Feb,23-Feb,24-Feb,25-Feb,26-Feb,...,6-Oct,7-Oct,8-Oct,9-Oct,10-Oct,11-Oct,12-Oct,13-Oct,14-Oct,15-Oct
0,YoY Percent,0.0,-6.0,0.0,2.0,1.0,-3.0,0.0,9.0,0.0,...,-40.87,-41.46,-32.26,-22.17,-7.88,-15.81,-37.19,-39.68,-39.02,-33.04

In [64]:
yoy_texas_reservations = pd.DataFrame(columns=["Date", "Percent"])

In [65]:
yoy_texas_reservations_sideways.drop("Date", axis=1)

,18-Feb,19-Feb,20-Feb,21-Feb,22-Feb,23-Feb,24-Feb,25-Feb,26-Feb,27-Feb,...,6-Oct,7-Oct,8-Oct,9-Oct,10-Oct,11-Oct,12-Oct,13-Oct,14-Oct,15-Oct
0,0.0,-6.0,0.0,2.0,1.0,-3.0,0.0,9.0,0.0,0.0,...,-40.87,-41.46,-32.26,-22.17,-7.88,-15.81,-37.19,-39.68,-39.02,-33.04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
for date in yoy_texas_reservations_sideways.columns:
    if date != "Date":
        temp = pd.Series([date, yoy_texas_reservations_sideways[date][0]], index = yoy_texas_reservations.columns)
        yoy_texas_reservations = yoy_texas_reservations.append(temp, ignore_index=True)

In [82]:
# Source: https://data.austintexas.gov/Public-Safety/Austin-Code-COVID-19-Complaint-Cases-Dashboard/5bvq-24pm
covid_complaints = pd.read_csv("Austin_Code_COVID-19_Complaint_Cases.csv")

In [86]:
covid_complaints = covid_complaints["OPENDATE"]

In [87]:
# TODO: COUNT THE NUMBER OF COMPLAINTS PER DAY
for complaint in covid_complaints:
    date_time = datetime.strptime(complaint[0], '%b %d %Y %I:%M%p')complaint[0]

0       10/04/2020 12:00:00 AM
1       05/30/2020 12:00:00 AM
2       03/19/2020 12:00:00 AM
3       04/10/2020 12:00:00 AM
4       03/29/2020 12:00:00 AM
                 ...
7375    08/26/2020 12:00:00 AM
7376    09/10/2020 12:00:00 AM
7377    08/01/2020 12:00:00 AM
7378    06/25/2020 12:00:00 AM
7379    03/26/2020 12:00:00 AM
Name: OPENDATE, Length: 7380, dtype: object

# The following data is all from YouGov (fear of covid, avoiding crowds, wearing masks, support quarantine)
## All data is from March 2 - October 12

In [101]:
covid_fear = pd.read_csv("covid-fear.csv")

In [102]:
support_quarantine = pd.read_csv("support-quarantine.csv")

In [103]:
wearing_masks = pd.read_csv("wearing-masks.csv")

In [104]:
avoiding_crowds = pd.read_csv("avoid-crowds.csv")

In [106]:
# From DSHS and Austin - Travis County COVID-19 Dashboard Public Datasets
hospital_data = pd.read_csv("hospital-data.csv")

# Data so far: New cases, year on year % restaurant reservations, covid complaints(in-progress), % fearing covid , support for quaranting, % wearing masks, % avoiding crowds, % of total hospital capacity dedicated to covid, # of hospitalisations for covid, % of hospitalisations for covid, # of ICU beds for covid

# Target Feature: Number of infections for covid (in 2.5 months)